#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="http://mirror.centos.org/centos/6/os/x86_64/"
# Root password
# use the following to generate a new password
# openssl passwd -1 "theplaintextpassword"
rootpw --iscrypted $1$zq91Sh2h$oyPScNXw0n.ytJZBZwPTa1
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --permissive
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Halt after installation
halt
# System timezone
timezone  America/Los_Angeles
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
#part /boot --fstype="ext4" --size=100
#part / --fstype="ext4" --grow --maxsize=10000 --size=1

part /boot --fstype=ext4 --size=500
part pv.01 --grow --size=1
volgroup VolGroup --pesize=4096 pv.01
logvol / --fstype=ext4 --name=lv_root --vgname=VolGroup --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=VolGroup --grow --size=496 --maxsize=992

%packages

@base
@core
openssh
curl
git
vim

%post --nochroot --log=/root/ks-post-nochroot.log

cp -ar /root_skel/* /mnt/sysimage

%post --log=/root/ks-post.log

# Add Ubuntu user and group
# use the following to generate a new password
# openssl passwd -1 "theplaintextpassword"
groupadd ubuntu -g 1000
adduser ubuntu -d /home/ubuntu -m -g ubuntu -u 1000 -s /bin/bash -p $1$zq91Sh2h$oyPScNXw0n.ytJZBZwPTa1
echo 'ubuntu ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers

## Install EPEL Repo
RPMNAME=$(wget -qO- http://download.fedoraproject.org/pub/epel/6/x86_64/ |grep epel |grep rpm |while read i ; do expr "$i" : '.*href="\(.*\)">.*'; done)
rpm -i http://download.fedoraproject.org/pub/epel/6/x86_64/$RPMNAME
#
## Install RBEL Repo
rpm -Uvh http://rbel.frameos.org/rbel6

# Install Chef
yum -y install ruby ruby-devel ruby-ri ruby-rdoc ruby-shadow gcc gcc-c++ automake autoconf make curl dmidecode
cd /tmp
curl -O http://production.cf.rubygems.org/rubygems/rubygems-1.8.24.tgz
tar zxf rubygems-1.8.24.tgz 
cd rubygems-1.8.24 && ruby setup.rb --no-format-executable
sudo gem install chef
sleep 10
chmod 655 /root/late_command.sh && sh /root/late_command.sh
