# password hash is 'none' spelled out
UBUNTU_PWHASH='$6$Cjxz1rgM$ahShoUXrRY0qabPBMuFSmxRcwqkA2BRmb0B9Dlkzd5BfiunORoayXm3RZCEAsauW50JES9v1GTkkurnXmv8Ey0'
KNIFE_PWSTR='mypassword'
NODE_NAME='myjumpnode'
DOMAIN_NAME='mydomain.com'
DEFAULT_NIC='eth0'

BOND0_IP="192.168.199.199"
BOND0_MASK="255.255.255.0"
BOND0_GW="192.168.199.1"
BOND0_BUSORDER="\"0000:06:00.0\", \"0000:06:00.1\", \"0000:03:00.0\", \"0000:03:00.1\""

# as of 11/05/13 these are the lastest versions
CHEF_CLIENT_VER="11.8.0-1"
CHEF_SERVER_VER="11.0.8-1"
