# as of 11/05/13 these are the lastest versions
CHEF_CLIENT_VER="11.8.0-1"
CHEF_SERVER_VER="11.0.8-1"

# password hash is 'none' spelled out
UBUNTU_PWHASH='$6$Cjxz1rgM$ahShoUXrRY0qabPBMuFSmxRcwqkA2BRmb0B9Dlkzd5BfiunORoayXm3RZCEAsauW50JES9v1GTkkurnXmv8Ey0'
KNIFE_PWSTR='mypassword'
# zone name is same as the data file name in deployment-data
ZONE='dpa1'
# node name shold exist in zone data file in deployment-data
NODE_NAME='myjumpnode'

DOMAIN_NAME='mydomain.com'
DEFAULT_NIC='eth0'
IS_VM=true
REQUIRED_COOKBOOKS="networking reboot-handler python infra-management build-essential yum apt"

# github user/password used to download substructure and deployment-data
GH_USER='att-cloud-gerrit'
GH_PW='mygitpassword'

# management interface
BOND0_MODE="active-backup"
BOND0_IP="192.168.1.161"
BOND0_NETMASK="255.255.255.0"
# BOND0_GATEWAY to access MANAGEMENT_CIDR
BOND0_GATEWAY="192.168.1.1"
MANAGEMENT_CIDR="192.168.0.0/20"

# public vlan interface
BOND1_2002_IP="75.55.104.10"
BOND1_2002_NETMASK="255.255.255.192"
DEFAULT_GATEWAY="75.55.104.1"

## Use lspci to find out what your bus order for NICS, for proper bonding.  Examples:
## Below used for parallels VM
BUSORDER='"0000:00:05.0","0000:00:06.0","0000:00:07.0","0000:00:08.0"'
## Below used for virtualbox VM
#BUSORDER='"0000:00:03.0","0000:00:08.0","0000:00:09.0","0000:00:0a.0"'
## Below example used for quanta real hardware bus addresses
#BUSORDER='"0000:06:00.0","0000:06:00.1","0000:03:00.0","0000:03:00.1"'
